{% extends 'base.html.twig' %}


{% block title %}Inscription Myboutique{% endblock %}

{% block content %}

<h1 class="mt-4">Inscription au Site</h1>

{{ form_start(form) }}

{{form_row(form.firstName)}}
{{form_row(form.lastName)}}
{{form_row(form.email,{'label':false,'attr':{'placeholder':'Entrer un email'} })}}

{{form_row(form.password)}}
{{form_row(form.confirmPassword)}}
{{ form_end(form) }}
{% endblock %}
