{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block content %}

<h1 class="mt-3">Confirmation commande</h1>

<p>Merci M/Mme {{order.user.firstName}} {{order.user.lastName}}</p>
<p>La commande d'un total de {{(total/100) | number_format(2)}} € a été passée avec succes</p>
<p>Votre commande de référence {{order.reference}} va vous être livrée par le transporteur<br>
{{order.carrier.name}}<br>à l'adresse suivante:<br>
{{order.delivery | replace({'[br]':'<br>'}) | raw}}
<hr>
Vous pouvez suivre votre commande:
<a href="{{path('account')}}">Suivre vos commandes</a>
</p>



{% endblock %}
