{% extends 'base.html.twig' %}

{% block title %}Valider ma Commmande
{% endblock %}

{% block content %}
	<h1 class="mt-3">Je passe ma commande</h1>
	<p>Choisissez vos préférences avant de passer votre commande</p>
	<hr>

	<div class="row">

		<div class="col-md-6">

			{% set formulaire %}
			{{form(form)}}
				{% endset %}

				{{formulaire | replace({'[br]':'<br>'}) | raw}}

			</div>

			<div class="col-md-6">

				{% for product in cart %}
					<div class="row mt-2">
						<div class="col-md-2">
							<img src="/uploads/{{product.product.picture}}" alt="" class="img-fluid">
						</div>
						<div class="col-md-8">
							{{product.product.name}}<br>
							{{product.product.subtitle}}
						</div>
						<div class="col-md-2">
							{{product.quantity}}
						</div>

					</div>


				{% endfor %}


			</div>


		</div>


	{% endblock %}
